<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scrapped data</title>
</head>

<body>
    <div>
        <form method=POST action="{{ url_for('search') }}" class="search-bar">
            <label>Job you are looking for:
                <input type="text" name="jobTitle" placeholder="job title" required>
            </label>
            <label>Enter your expected salary
                <input type="number" name="salary" placeholder="salary per month">
                <button type="submit" class="search-btn">search</button>
            </label>


        </form>
    </div>
</body>

</html>